* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, p, a {
    color: white;
}

body {
    background-color: #000;
}

button {
    width: 100px;
    height: auto;
    padding: 5px;
    border: 1px solid white;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-style: italic;
}

a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: auto;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-style: italic;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.contained {
    box-sizing: border-box;
    width: 800px;
    border: 2px solid white;
    padding: 50px;
}

.title-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.title {
    font-size: 50px;
    text-decoration: underline;
}

.rules {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.rule {
    font-size: 25px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.display h2 {
    border: 2px solid white;
    border-top: none;
    border-bottom: none;
    border-left: none;
    width: 210px;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 30px;
}

#computerChoice {
    text-decoration: underline;
    font-style: italic;
}

#playerChoice {
    text-decoration: underline;
    font-style: italic;
}

.options {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;   
}

.options-start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 20px;
}

.options-end {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    gap: 20px;
}

#optionYes {
    width: 60px;
}

.continue {
    display: flex;
    align-items: center;
    justify-content: center;
}

#retryDisplay {
    font-size: 30px;
}

#optionNo {
    width: 60px;
}

#optionYesStart {
    width: 60px;
}

#optionNoStart {
    width: 60px;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grandFinaleDisplay {
    font-size: 35px;
    font-weight: bolder;
    font-style: italic;
}